replicaCount: 1

image:
  repository: browneyed.kr.ncr.ntruss.com/studyon
  pullPolicy: Always
  tag: ""

imagePullSecrets:
#   - name: regcred
nameOverride: ""
fullnameOverride: ""

service:
  type: LoadBalancer
  port: 80

dbService:
  type: ClusterIP
  port: 5432

django:
  replicaCount: 1
  containerPort: 8000
  configMap:
    DJANGO_SETTINGS_MODULE: "config.settings.staging"
  secret:
    # Django
    DJANGO_SECRET_KEY: enter_your_django_secret_key
    # NCP
    NCP_S3_ACCESS_KEY: enter_your_ncp_access_key
    NCP_S3_SECRET_KEY: enter_your_ncp_secret_key
    NCP_S3_ENDPOINT_URL: enter_your_object_storage_endpoint_url
    NCP_S3_REGION_NAME: "kr-standard"
    NCP_S3_BUCKET_NAME: "studyon"
    # AWS
    AWS_S3_ACCESS_KEY_ID: enter_your_s3_access_key
    AWS_S3_SECRET_ACCESS_KEY: enter_your_s3_secret_key
    AWS_S3_REGION: "ap-northeast-2"
    AWS_S3_STORAGE_BUCKET_NAME: enter_your_s3_bucket_name

db:
  secret:
    POSTGRES_DB: enter_your_db_name
    POSTGRES_USER: enter_your_db_user
    POSTGRES_PASSWORD: enter_your_db_password
    POSTGRES_PORT: "5432"
